:root {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-beige);
  background-color: #faf7f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-yellow: #fdc913;
  --color-light-gray: #5f5f5f;
  --color-dark-gray: #292929;
  --color-red: #ce2829;
  --color-beige: #faf7f2;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.flex-clas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  /* width: 100%; */
  gap: 3.2rem;
}

header {
  width: 100%;
  max-width: 1585px;
}

h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
}

h2.title-1 {
  font-family: "Satisfy", cursive;
  color: var(--color-yellow);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: -3px;
  text-align: center;
}

h2.title-2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 4.9rem;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
}

.header-section {
  width: 100%;
  aspect-ratio: 15/9;
  padding-top: 2rem;
  gap: 2.5rem;
  background: url("public/assets/iteration-1/home-banner.png") center/cover
    no-repeat;
}

.header-textbox {
  justify-content: center;
  text-align: center;
}

.btn {
  width: 180px;
  color: black;
  background-color: var(--color-yellow);
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 3rem;
  text-transform: uppercase;
  border-radius: 1.6rem;
  margin-top: 1.5rem;
}

.header-navbar {
  width: 100%;
  background-color: white;
  color: black;
}

.header-navlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 2.4rem;
}

.header-navlist li a {
  display: flex;
  padding: 0.5rem;
  line-height: 2rem;
  gap: 12px;
  color: black;
}

.header-icon {
  width: 2rem;
}

/* ----------------header kısmı bitiş------------------- */
/* ----------------slider section başlangıç------------------- */
.slider-section {
  display: flex;
  gap: 0.6rem;
  max-width: 900px;
  margin: 0 auto;
}
.left-box,
.top-right,
.bottom-right {
  position: relative;
}
.left-box {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 265 / 224;
}

.overlay .overlay-btn {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: #ce2829;
  background-color: white;
  line-height: 32px;
  width: 112px;
  padding: 4px;
  border-radius: 20px;
}
.special-one-h3 {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 3.6rem;
}
.special-one-h3 + p {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.overlay {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 16px;
  top: 10%;
  left: 5%;
}

.right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-right,
.bottom-right {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

.left-box img,
.top-right img,
.bottom-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* ------------ grid experimental ---------- */
/* .slider-cards {
  display: grid;
  grid-template-columns: 450px 450px;
  gap: 1rem;
}
.slider-card img {
  width: 100%;
}
.slider-card {
  position: relative;
}

.overlay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 10%;
  left: 5%;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 5%;
}
.overlay-btn {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  padding: 8px;
  border-radius: 1rem;
}

.overlay-btn:hover {
  background-color: rgb(227, 227, 227);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.card1 {
  grid-row: 1 / span 2;
} */

/* ----------------slider kısmı bitiş------------------- */
/* ----------------menü kısmı baslangıç------------------- */

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}
.menu-section > h3:first-child {
  font-family: "Satisfy", cursive;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #ce2829;
}

.menu-section > h3:nth-child(2) {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: black;
}
.menu-navbar {
  background-color: transparent;
}
.menu-list {
  box-shadow: none;
  gap: 20px;
}
.menu-navbar .menu-list li {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 36px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.menu-navbar .menu-list li:hover {
  background-color: rgb(227, 227, 227);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.menu-navbar .menu-list li.active {
  background-color: #292929;
  box-shadow: 2px 2px 6px rgb(113, 113, 113);
}
.menu-navbar .menu-list li.active a {
  color: white;
}
/* ----------------menu kısmı bitiş------------------- */
